@import "tailwindcss";

:root {
  --color-primary: hsl(26, 100%, 55%);
  --color-primary-dark: hsl(25, 97%, 53%);
  --color-neutral-very-dark-blue: hsl(220, 13%, 13%);
  --color-neutral-dark-grayish-blue: hsl(219, 9%, 45%);
  --color-neutral-grayish-blue: hsl(220, 14%, 75%);
  --color-neutral-light-grayish-blue: hsl(223, 64%, 98%);
  --color-white: hsl(0, 0%, 100%);
}